<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="armyUnit armyUnit-config">
    <div class="armyUnit-art">
      <img class="armyUnit-artwork" src="{{actor.img}}" alt="artwork" data-edit="img" />
    </div>
    <div class="armyUnit-name">
      <span>{{actor.name}}</span>
      <input class="armyUnit-name" type="text" data-dtype="String" name="name" value="{{actor.name}}" placeholder="UnitName">
    </div>
    {{log actor}}
    <div class="armyUnit-text">
        <div>{{actor.flags.army-sheet.army.experience}} {{actor.flags.army-sheet.army.equipment}}</div>
        <div>{{actor.flags.army-sheet.army.ancestry}} {{actor.flags.army-sheet.army.type}}</div>
    </div>
    {{!-- <div class="armyUnit-bio">
        <i class="fa-solid fa-scroll"></i>
    </div> --}}
    <div class="armyUnit-hp">
      <span class="hitpoints">{{actor.system.attributes.hp.value}}</span><br>
      <span>Size d{{actor.system.attributes.hp.max}}</span>
    </div>
    <div class="armyUnit-tokens">
      <img src="/modules/army-sheet/Images/{{actor.flags.army-sheet.army.ancestry}}.png" class="armyUnitsheetimg armyUnit-token" width="50%"><img src="/modules/army-sheet/Images/{{actor.flags.army-sheet.army.type}}.png" class="armyUnitsheetimg  armyUnit-token" width="50%">
    </div>

    <div class="armyUnit-traitbox">
       <span class="armyUnit-addTraits">
        <a class="armyUnit-addTrait">+</a>
      </span>
      {{#if actor.flags.army-sheet.army.traits.length}}
        {{#each actor.flags.army-sheet.army.traits}}
          <div class="onetraitbox" data-item-id="{{id}}">
            <span class="traitname">{{name}}</span>
            <span class="armyUnit-config-trait">
              <a class="armyUnit-delTrait">&nbsp;<i class="fas fa-trash"></i></a>
            </span>
            <div class="trait-description {{#if description.expanded}}expanded{{/if}}">
              <span>{{{description.enriched}}}</span>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="armyUnit-commander">
      <span class="commander">Commander</span><br>
      <span>{{actor.flags.army-sheet.army.commander}}</span>
    </div>
    <div class="armyUnit-stats">
      <div class="armyUnit-statblock">
        <span class="armyUnit-statbonus armyUnit-rollable" id="attack-stat">
          {{armyUnit-number-format  actor.flags.army-sheet.army.stats.attack.bonus sign=true decimal=0}}
        </span>
        <input id="attack-stat" type="number" class="armyUnit-statbonus"
          data-dtype="Number" placeholder="0"
          name="{{actor.flags.army-sheet.army.stats.attack.bonus}}"
          value="{{actor.flags.army-sheet.army.stats.attack.bonus}}"
        />
        {{#if stat.advantage}}<span class="armyUnit-advantage">+</span>{{/if}}
        {{#if stat.disadvantage}}<span class="armyUnit-disadvantage">-</span>{{/if}}
        <span class="armyUnit-statname">ATK</span>
      </div>
      <div class="armyUnit-statblock">
        <span class="armyUnit-statbonus armyUnit-rollable" id="power-stat">
          {{armyUnit-number-format actor.flags.army-sheet.army.stats.power.bonus sign=true decimal=0}}
        </span>
        <input id="power-stat" type="number" class="armyUnit-statbonus"
          data-dtype="Number" placeholder="0"
          name="{{actor.flags.army-sheet.army.stats.power.bonus}}"
          value="{{actor.flags.army-sheet.army.stats.power.bonus}}"
        />
        {{#if stat.advantage}}<span class="armyUnit-advantage">+</span>{{/if}}
        {{#if stat.disadvantage}}<span class="armyUnit-disadvantage">-</span>{{/if}}
        <span class="armyUnit-statname">POW</span>
      </div>
      <div class="armyUnit-statblock">
        <span class="armyUnit-statbonus armyUnit-rollable" id="command-stat">
          {{armyUnit-number-format actor.flags.army-sheet.army.stats.command.bonus sign=true decimal=0}}
        </span>
        <input id="command-stat" type="number" class="armyUnit-statbonus"
          data-dtype="Number" placeholder="0"
          name="{{actor.flags.army-sheet.army.stats.command.bonus}}"
          value="{{actor.flags.army-sheet.army.stats.command.bonus}}"
        />
        <span class="armyUnit-statname">COM</span>
      </div>
      <div class="armyUnit-statspacer">
        <div class="armyUnit-attack">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/attack-sword.png">
          <div>2x</div>
        </div>
        <div class="armyUnit-dam">
          <div class="armyUnit-dam-rhombus"></div>

          <div class="armyUnit-dam-text">
            <div>2</div>
            dam
          </div>
          <div class="armyUnit-lock">
            {{#if editable}}
            <a><i class="fas fa-cog"></i></a>
            {{/if}}
          </div>
        </div>
        <div class="armyUnit-tier">
          <div class="armyUnit-tier-rhombus"></div>
          <div class="armyUnit-tier-text">
            tier
            <div>iv</div>
          </div>
        </div>
        <div class="armyUnit-movement">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/movement-arrow.png">
          <div>1</div>
        </div>
      </div>
      <div class="armyUnit-statblock">
        <span class="armyUnit-statvalue" id="defense-stat">
          {{armyUnit-number-format actor.flags.army-sheet.army.stats.defense.value decimal=0}}
        </span>
        <input id="defense-stat" type="number" class="armyUnit-statvalue"
          data-dtype="Number" placeholder="0"
          name="{{actor.flags.army-sheet.army.stats.defense.value}}"
          value="{{actor.flags.army-sheet.army.stats.defense.value}}"
        />
        <span class="armyUnit-statname">DEF</span>
      </div>
      <div class="armyUnit-statblock">
        <span class="armyUnit-statvalue" id="toughness-stat">
          {{armyUnit-number-format actor.flags.army-sheet.army.stats.toughness.value decimal=0}}
        </span>
        <input id="toughness-stat" type="number" class="armyUnit-statvalue"
          data-dtype="Number" placeholder="0"
          name="{{actor.flags.army-sheet.army.stats.defense.value}}"
          value="{{actor.flags.army-sheet.army.stats.defense.value}}"
        />
        <span class="armyUnit-statname">TOU</span>
      </div>
      <div class="armyUnit-statblock">
        <span class="armyUnit-statbonus armyUnit-rollable" id="morale-stat">
          {{armyUnit-number-format  actor.flags.army-sheet.army.stats.morale.bonus sign=true decimal=0}}
        </span>
        <input id="morale-stat" type="number" class="armyUnit-statbonus"
          data-dtype="Number" placeholder="0"
          name="{{actor.flags.army-sheet.army.stats.morale.bonus}}"
          value="{{actor.flags.army-sheet.army.stats.morale.bonus}}"
        />
        {{#if stat.advantage}}<span class="armyUnit-advantage">+</span>{{/if}}
        {{#if stat.disadvantage}}<span class="armyUnit-disadvantage">-</span>{{/if}}
        <span class="armyUnit-statname">MOR</span>
      </div>
    </div>
  </div>
</form>
