<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="armyUnit">
    <div class="armyUnit-art">
      <img class="armyUnit-artwork" src="{{actor.img}}" alt="artwork" data-edit="img" />
    </div>
    <div class="armyUnit-name">
      <span>{{actor.name}}</span>
      <input type="text" data-dtype="String" name="name" value="{{actor.name}}" placeholder="UnitName">
    </div>
    <div class="armyUnit-text">
      <label>
        <span> - {{unit.experience}} - </span>&nbsp;
        <input type="text" data-dtype="String" name="flags.kw-warfare.unit.experience" value="{{unit.experience}}"
          placeholder="Experience">
      </label>
      <label>
        <span> - {{unit.equipment}} - </span>
        <input type="text" data-dtype="String" name="flags.kw-warfare.unit.equipment" value="{{unit.equipment}}" placeholder="Equipment">
      </label><BR>
      <label>
        <span>Elephant</span>&nbsp;
        <input type="text" data-dtype="String" name="flags.kw-warfare.unit.ancestry" value="" placeholder="Ancestry">
      </label>
      <label>
        <span>Infantry</span>
        <input type="text" data-dtype="String" name="flags.kw-warfare.unit.type" value="" placeholder="Type">
      </label>
    </div>
    <div class="armyUnit-hp">
      <span class="hitpoints">4/4</span><br>
      <span>Size</span>
    </div>
    <div class="armyUnit-tokens">
      <img src="/modules/army-sheet/Images/undead.png" class="armyUnitsheetimg" width="50%"><img src="/modules/army-sheet/Images/infantry.png" class="armyUnitsheetimg" width="50%">
    </div>
    <div class="armyUnit-traitbox">
      <div class=onetraitbox>
        <div class="name">Eternal</div>
        <div class="description">This unit has advantage on Morale tests against undead or fiend units, and on the
          Morale test to attack units with the Harrowing trait.</div>
      </div>
      <div class=onetraitbox>
        <div class="name">Mobile</div>
        <div class="description">This unit has advantage on the Command test when using the Follow Up maneuver, and can
          move back 2 spaces when using the Withdraw maneuver.</div>
      </div>
    </div>
    <div class="armyUnit-commander">
      <span class="commander">Commander</span><br>
      <span>Mathu'Gar</span>
    </div>
    <div class="armyUnit-stats">
      <div class="armyUnit-statblock">
        <div>+7</div>
        <div>ATK</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+8</div>
        <div>POW</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+4</div>
        <div>COM</div>
      </div>
      <div class="armyUnit-statspacer">
        <div class="armyUnit-attack">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/attack-sword.png">
          <div>2x</div>
        </div>
        <div class="armyUnit-dam">
          <div class="armyUnit-dam-rhombus"></div>
          <div class="armyUnit-dam-text">
            dam
            <div>2</div>
          </div>
        </div>
        <div class="armyUnit-tier">
          <div class="armyUnit-tier-rhombus"></div>
          <div class="armyUnit-tier-text">
            tier
            <div>iv</div>
          </div>
        </div>
        <div class="armyUnit-movement">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/movement-arrow.png">
          <div>1</div>
        </div>
      </div>
      <div class="armyUnit-statblock">
        <div>15</div>
        <div>DEF</div>
      </div>
      <div class="armyUnit-statblock">
        <div>16</div>
        <div>TOU</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+3</div>
        <div>MOR</div>
      </div>
    </div>
  </div>
</form>
