<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="armyUnit">
    <div class="armyUnit-art">
      <img class="armyUnit-artwork" src="{{actor.img}}" alt="artwork" data-edit="img" />
    </div>
    <div class="armyUnit-name">
      <span>{{actor.name}}</span>
      <input type="text" data-dtype="String" name="name" value="{{actor.name}}" placeholder="UnitName">
    </div>
    {{log actor}}
    <div class="armyUnit-text">
        <span>{{actor.flags.armySheet.army.experience}}</span>&nbsp;
        <span>{{actor.flags.armySheet.army.equipment}}</span><BR>
        <span>{{mycontext.army.ancestry}}</span>&nbsp;
        <span>{{actor.flags.armySheet.army.type}}</span>
    </div>
    <div class="armyUnit-hp">
      <span class="hitpoints">{{actor.system.attributes.hp.value}}</span><br>
      <span>Size d{{actor.system.attributes.hp.max}}</span>
    </div>
    <div class="armyUnit-tokens">
      <img src="/modules/army-sheet/Images/{{actor.flags.armySheet.army.ancestry}}.png" class="armyUnitsheetimg armyUnit-token" width="50%"><img src="/modules/army-sheet/Images/{{actor.flags.armySheet.army.type}}.png" class="armyUnitsheetimg  armyUnit-token" width="50%">
    </div>
    <div class="armyUnit-traitbox">
      {{#if actor.flags.armySheet.army.traits.length}}
        {{#each actor.flags.armySheet.army.traits}}
          <div class="onetraitbox" data-item-id="{{id}}">
            <div class="traitname">{{name}}</div>
            <div class="trait-description {{#if description.expanded}}army-trait-expanded{{/if}}">
              <span class="trait-description">{{{description.enriched}}}</span>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
    <div class="armyUnit-commander">
      <span class="commander">Commander</span><br>
      <span>{{actor.flags.armySheet.army.unit.commander}}</span>
    </div>
    <div class="armyUnit-stats">
      <div class="armyUnit-statblock">
        <div>+7</div>
        <div>ATK</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+8</div>
        <div>POW</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+4</div>
        <div>COM</div>
      </div>
      <div class="armyUnit-statspacer">
        <div class="armyUnit-attack">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/attack-sword.png">
          <div>2x</div>
        </div>
        <div class="armyUnit-dam">
          <div class="armyUnit-dam-rhombus"></div>
          <div class="armyUnit-dam-text">
            dam
            <div>2</div>
          </div>
        </div>
        <div class="armyUnit-tier">
          <div class="armyUnit-tier-rhombus"></div>
          <div class="armyUnit-tier-text">
            tier
            <div>iv</div>
          </div>
        </div>
        <div class="armyUnit-movement">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/movement-arrow.png">
          <div>1</div>
        </div>
      </div>
      <div class="armyUnit-statblock">
        <div>15</div>
        <div>DEF</div>
      </div>
      <div class="armyUnit-statblock">
        <div>16</div>
        <div>TOU</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+3</div>
        <div>MOR</div>
      </div>
    </div>
  </div>
</form>
