<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="armyUnit">
    <div class="armyUnit-art">
      <img class="armyUnit-artwork" src="{{actor.img}}" alt="artwork" data-edit="img" />
    </div>
    <div class="armyUnit-name">
      <span>{{actor.name}}</span>
      <input type="text" data-dtype="String" name="name" value="{{actor.name}}" placeholder="UnitName">
    </div>
    <div class="armyUnit-text">
      <label>
        <span class="editable">{{data.army.experience}}</span>&nbsp;
        <input type="text" data-dtype="String" name="flags.armySheet.army.experience" value="{{army.experience}}"
          placeholder="Experience">
      </label>
      <label>
        <span class="editable">{{data.army.equipment}}</span>
        <input type="text" data-dtype="String" name="flags.armySheet.army.equipment" value="{{army.equipment}}" placeholder="Equipment">
      </label><BR>
      <label>
        <span class="editable">{{data.army.ancestry}}</span>&nbsp;
        <input type="text" data-dtype="String" name="flags.armySheet.army.ancestry" value="{{army.ancestry}}" placeholder="Ancestry">
      </label>
      <label>
        <span class="editable">{{data.army.type}}</span>
        <input type="text" data-dtype="String" name="flags.armySheet.army.type" value="{{army.type}}" placeholder="Type">
      </label>
    </div>
    <div class="armyUnit-hp">
      <span class="hitpoints">{{actor.system.attributes.hp.value}}</span><br>
      <span>Size d{{actor.system.attributes.hp.max}}</span>
    </div>
    <div class="armyUnit-tokens">
      <img src="/modules/army-sheet/Images/{{data.army.ancestry}}.png" class="armyUnitsheetimg armyUnit-token" width="50%"><img src="/modules/army-sheet/Images/{{data.army.type}}.png" class="armyUnitsheetimg  armyUnit-token" width="50%">
    </div>
    <div class="armyUnit-traitbox">
      <div class=onetraitbox>
        <div class="name">Eternal</div>
        <div class="description">This unit has advantage on Morale tests against undead or fiend units, and on the
          Morale test to attack units with the Harrowing trait.</div>
      </div>
      <div class=onetraitbox>
        <div class="name">Mobile</div>
        <div class="description">This unit has advantage on the Command test when using the Follow Up maneuver, and can
          move back 2 spaces when using the Withdraw maneuver.</div>
      </div>
    </div>
    <div class="armyUnit-commander">
      <span class="commander">Commander</span><br>
      <span>'{{data.army.unit.commander}}'</span>
    </div>
    <div class="armyUnit-stats">
      <div class="armyUnit-statblock">
        <div>+7</div>
        <div>ATK</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+8</div>
        <div>POW</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+4</div>
        <div>COM</div>
      </div>
      <div class="armyUnit-statspacer">
        <div class="armyUnit-attack">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/attack-sword.png">
          <div>2x</div>
        </div>
        <div class="armyUnit-dam">
          <div class="armyUnit-dam-rhombus"></div>
          <div class="armyUnit-dam-text">
            dam
            <div>2</div>
          </div>
        </div>
        <div class="armyUnit-tier">
          <div class="armyUnit-tier-rhombus"></div>
          <div class="armyUnit-tier-text">
            tier
            <div>iv</div>
          </div>
        </div>
        <div class="armyUnit-movement">
          <img class="armyUnitsheetimg" src="/modules/army-sheet/Images/movement-arrow.png">
          <div>1</div>
        </div>
      </div>
      <div class="armyUnit-statblock">
        <div>15</div>
        <div>DEF</div>
      </div>
      <div class="armyUnit-statblock">
        <div>16</div>
        <div>TOU</div>
      </div>
      <div class="armyUnit-statblock">
        <div>+3</div>
        <div>MOR</div>
      </div>
    </div>
  </div>
</form>
